// SASS variable overrides must be declared before loading up Active Admin's styles.
//
// To view the variables that Active Admin provides, take a look at
// `app/assets/stylesheets/active_admin/mixins/_variables.scss` in the
// Active Admin source.
//
// For example, to change the sidebar width:
// $sidebar-width: 242px;

// Active Admin's got SASS!
@import "active_admin/mixins";
@import "active_admin/base";

// Overriding any non-variable SASS must be done after the fact.
// For example, to change the default status-tag color:
//
//   .status_tag { background: #6090DB; }

/*
input[disabled="disabled"],
input[disabled] {
  background-color: #F4F4F4;
  border: 0px solid #F4F4F4 !important;
}
*/

.floatRight {
	float: right !important;
}

.paddingLeft {
	padding-left: 10px;
}

.disabledField {
	pointer-events: none;
}

.red {
	color: red;
}

.block {
	display: block;
}

.bold {
	font-weight: bold;
}

.gray {
	color: #5E6469
}

form fieldset ol > li label {
	height: 25px;
	width: auto;
	min-width: 20%;
	max-width: 99%;
}
